@page "/person/edit/{PersonID:int}"
@inject IPersonRepository personRepository
@inject NavigationManager navigationManager

<h3>Edit Person</h3>

@if (Person != null) {
<PersonForm person="Person" OnValidSubmit="Edit" />
}

@code {
    [Parameter] public int PersonID { get; set; }

    Person Person;

    protected async override Task OnInitializedAsync()
    {
        Person = await personRepository.GetPersonById(PersonID);

    }

    private async Task Edit()
    {
        await personRepository.UpdatePerson(Person);
        navigationManager.NavigateTo("person");

    }
}
